/* h1{
    background-color: #ffcdb2;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    font-size: 28px;
    padding: 0.5rem;
    margin: 40px auto; 
    border-radius: 5px;
    font-weight: 300;
    color: #2b2d42;   
}


h1:nth-of-type(2n){
    background-color: #ffb4a2;
}
h1:nth-of-type(3n){
    background-color: #e5989b;
}
h1:nth-of-type(4n){
    background-color: #b5838d;
}

h1:nth-of-type(1N){
    transition: all 1s ease-in-out;
}

section:first-of-type h1:nth-of-type(1):hover{
    transform: rotateZ(45deg);
}
section:first-of-type h1:nth-of-type(2):hover{
    transform: scale(1.5);
}
section:first-of-type h1:nth-of-type(3):hover{
    transform: translateX(100px);
}
section:first-of-type h1:nth-of-type(4):hover{
    transform: translateY(-100px);
}
section:nth-of-type(2) h1:nth-of-type(1):hover{
    transform: translate(-100px,100px);
}
section:nth-of-type(2) h1:nth-of-type(2):hover{
    transform: skew(45deg);
}
section:nth-of-type(2) h1:nth-of-type(3):hover{
    transform: rotate(30deg) scale(1.5);
} */


body{
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151b29;
}

button{
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.1s ease-in-out;
}

button:hover{
    transform: translateY(-0.25em);
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    cursor: pointer;
}